h3 {
    padding-top: 10%;
    font-weight: 300; 
}

#login .container{
    align-content: center;
    margin-top: 25px;
    max-width: 350px;
    height: 280px;
    border: 1.5px solid #4672d3;
    background-color: #f9ffff;
    border-radius: 0.5rem;
}

div.col-12{
    text-align: center;
    margin: 10px;

}

.form-label{
    border: 1px solid #d8d8d8;
    border-radius: 0.3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 0.3em;

}

.col-form-label{
    font-family:'Trebuchet MS', sans-serif;
    padding-left:   1rem;
}

.createAccount{
    text-align: center;
}

.row{
    --bs-gutter-x: 3rem;
}

.imput{
    padding-right: calc(var(--bs-gutter-x) * 0.8);
    padding-left: calc(var(--bs-gutter-x) * 0.8);
<<<<<<< HEAD
}
=======
}
>>>>>>> features
