@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
.block__main{
    height: 90vh;
    padding: 40px;
}

.block__busqueda{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.block__busqueda h4{
    font-size:28px;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 15px;
}

.cont-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn_crear{
    margin: 0;
    padding: 15px;
    border-radius: 15px;
    color: white;
    background-color: rgb(99, 138, 247);
    font-weight: normal;
    border: none;
    cursor: pointer;
}

.block__busqueda select{
    height: 40px;
    width: 320px;
    margin: 0;
    border-radius: 20px;
    border: 3px solid #40203A;
    background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #40203A, #40203A);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
    background-size:
    5px 5px,
    5px 8px,
    2.5em 3.5em;
    background-repeat: no-repeat;
    outline: none;
    padding-left: 25px;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    cursor: pointer;
}



.block__tabla{
    height: 80%;
}

.block__tabla table{
    width: 100%;
    border-collapse: collapse;
}

.block__tabla table, th, td {
    border: 3px solid #7595BF;
  }

.block__tabla table thead{
    background-color: #7595BF;
    height: 50px;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Mulish', sans-serif;
    border-color: black;

}

.block__tabla table tbody{
    height: 50px;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

.block__tabla table tbody td i{
    cursor: pointer;
}

.actions_style{
    display: flex;
    justify-content: space-around;
    color: purple;
}

.formCont{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.formUser{
    width: 30vw;
    height: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    
    
}

.formularioUsuarios{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding-left: 5px;
    
}

.formularioUsuarios h2{
    align-self: center;
    font-family: 'Mulish', sans-serif;
}

.label_style{
    display:flex;
    flex-direction: column;
    font-size: 18px;
    height: 5rem;
    margin-top: 15px;
    font-family: 'Mulish', sans-serif;
}

.input_style{
    border: none;
    border-bottom:2px solid rgba(103, 128, 159, 0.3);
    outline: none; 
    height: 70%;
    color: grey;
    padding-left: 5px;
    font-size: 18px;
}

.input_style:focus{
    border-bottom:2px solid rgba(103, 128, 159, 1);
    background-color: rgba(103, 128, 159, 0.1);
}

.select_style{
    border: none;
    border-bottom:2px solid rgba(103, 128, 159, 0.3);
    outline: none; 
    height: 70%;
    color: grey;
    padding-left: 5px;
    font-size: 18px;
    border-radius: 0px;
    margin-bottom: 0px;
}
    