@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap');

:root{
    --color-azul: #7A9FBF;
    --color-vino-tinto: #40203A ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/*COMPONENT MENU STYLES*/
.navbarra{
    background-color: var(--color-azul);
    display: flex;
    align-items: center;
    height: 7vh;
    font-family: 'Mulish', sans-serif;
}

.navbarra h3{
    color: white;
    width: 15%;
    font-weight:700;
}

.menu{
    display: flex;
    width: 85%;
    justify-content: flex-end;
    color: white;
    margin-right:40px;
}

.menu li{
    padding-left: 20px;
}

.menu li a{
   color: white;
}
/*END COMPONENT MENU STYLES*/


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
